<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>marmelad</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/template/assets/css/main.css" />
		<link rel="stylesheet" href="/static/css/site.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<!--<a href="index.html" class="logo">marmelad</a>-->
					<nav id="nav">
						<a href="/">Home</a>
						<a href="/python">Python</a>
						<a href="/help">Help</a>
						<a href="/about">About</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle">
						<span class="fa fa-bars"></span>
					</a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h1>welcome to marmelad</h1>
				<p>A web front-end for server-side python script execution.</p>
			</section>

		<!-- Login -->
			<section id="three" class="wrapper special">
				<div class="inner">
					<header class="align-center">
						<h2>get started</h2>
						<input type="email" placeholder="email"></input>
						<input type="password" placeholder="passcode"></input>
						<a class="button">login</a>
					</header>
				</div>
			</section>

		<!-- Scripts -->
			<script src="/static/template/assets/js/jquery.min.js"></script>
			<script src="/static/template/assets/js/skel.min.js"></script>
			<script src="/static/template/assets/js/util.js"></script>
			<script src="/static/template/assets/js/main.js"></script>


	</body>
</html>